{% load i18n watermark %}
{% load staticfiles thumbnail watermark saleor_ext %}

<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="/static/js/slick.min.js"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>

<div class="object-detail more-info-opened categories-opened" slick-active-index="">
    <div class="row">
        <!-- <h1>{{ object.translation.title }}</h1> -->
        <div class="col-xs-12 padding-none main-images-preview">
            {% for product, available in picture_list %}
            <div class="object-image" data-picture-id="{{ product.id }}"" data-slick-index="{{ forloop.counter0 }}">
                {% thumbnail product.get_first_image "1920x1080" format="PNG" as image %}
                <img class="project-image image-{{ product.id }}" src="{{ image.url|watermark:'obraz,position=br,opacity=100' }}"/>
                {% endthumbnail %}
                <script type="text/javascript">
                jQuery(function($) {
                    $(function(){
                        $("<div class='info-object info-slick' data-slick-index='{{ forloop.counter0 }}'>\
                        <h2>{{ product.translated }}</h2>\
                        {% for attribute, value in product.get_product_attributes.items %}\
                        {% if attribute.slug == 'format' %}\
                            <span>{{ value.translated }}</span>\
                        {% endif %}\
                        {% endfor %}\
                        {{ product.translated.description|safe }}\
                        <div class='actions'>\
                        {% if product.all_vartiants_in_stock %}\
                        <p class='status available'>{% trans 'Available' %}</p>\
                        {% else %}\
                        <p class='status sold_out'><b>{% trans 'Reserved / Not for sale' %}</b></p>\
                        {% endif %}\
                        {% if product.all_vartiants_in_stock %}\
                        <a class='open-modal btn btn-order btn-block' href='{{ product.get_absolute_url }}'>{% trans 'Reserve' %}</a>\
                        {% endif %}\
                        <a class='open-modal btn btn-order btn-block' href='{{ product.get_absolute_url }}'>{% trans 'Order copy' %}</a>\
                        </div>\
                        </div>").appendTo($(".panel-more-info"));
                        $("<span class='btn-title' data-slick-index='{{ forloop.counter0 }}'>{{ product.translated }}</span>").appendTo($(".btn-open-panel"));
                    });
                });
                </script>
            </div>
            {% endfor %}
        </div>
        <div class="btn-fullscreen">
            <span class="btn-fullscreen" data-toggle="modal" data-target="#pictureModalFullscreen"></span>
        </div>
        <div class="btn-categories">
            <span class="title">
                {% trans "Displayed" %} <span>{{ picture_list|count_products }} {{ count_products }}</span>
            </span>
            <span class="arrow"></span>
        </div>
        <div class="categories">
            <div class="container-fluid">
                <div class="top-panel">
                    <span class="btn-search">Vyhledávání <i class="fa fa-search" aria-hidden="true"></i></span>
                    <span class="close">×</span>
                    <div class="search-tab">
                    {% include "product/_filters.html" %}
                    </div>
                </div>
                <div class="project-categories">
                {% for category in project_categories %}
                    <div class="col-md-1 item {% if category.translated.slug in request.path %}active{% endif %}">
                        <span class="title">{{ category.translated }}</span>
                        {% thumbnail category.background_image "200x100" crop="center" format="PNG" as cat_image %}
                        <a href="{{ category.get_absolute_url }}"><img class="" src="{{ cat_image.url }}" /></a>
                        {% endthumbnail %}
                    </div>
                {% endfor %}    
                    <div class="col-md-2 item link-all-pictures {% if not object.parent %}active{% endif %}">
                        {% if object.parent %}
                        <a href="{{ object.parent.get_absolute_url }}" class="title">Všechny obrazy
                        <img src="{% static 'img/glyphicons-pictures.png' %}">
                        </a>
                        {% else %}
                        <span class="title">Všechny obrazy</span>
                        <img src="{% static 'img/glyphicons-pictures.png' %}">
                        {% endif %}
                    </div>
                </div>
                <hr>
                <ul class="categories-menu similar-images-preview">
                {% for sim_item, available in picture_list %}
                    <div class="object-image">
                        <span class="title">{{ sim_item.translated }}</span>
                        {% thumbnail sim_item.get_first_image "250x150" crop="center" format="PNG" as sim_image %}
                        <img class="" data-lazy="{{ sim_image.url }}" />
                        {% endthumbnail %}
                    </div>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="btn-open-panel more-info">
        <span class="open"></span>
    </div>
    <div class="panel-more-info">
        <span class="close">×</span>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="pictureModalFullscreen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
jQuery(function($) {
    $(".main-images-preview").slick({
        infinite: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: false,
        lazyLoad: 'ondemand',
    });
    $(function() {
        // toggle class more info
        $(".btn-open-panel").click(function(){
            $(".object-detail").toggleClass("more-info-opened");
        });
        $(".panel-more-info .close").click(function(){
            $(".object-detail").toggleClass("more-info-opened");
        });

        // activate search
        if (location.search != "") {
            $(".object-detail").addClass("search-tab-opened");
        }

        // toggle class on catgories
        $(".btn-categories").click(function(){
            $(".object-detail").toggleClass("categories-opened");
        });
        $(".categories .top-panel .close").click(function(){
            $(".object-detail").toggleClass("categories-opened");
        });
        $(".categories .top-panel .btn-search").click(function(){
            $(".object-detail").toggleClass("search-tab-opened");
        });

        // fix slick id
        $(".maincontent").attr("slick-active-index", $(".slick-current.slick-active").attr("data-slick-index"));
        
        // go to proper slide
        if (window.location.hash.replace("#/","").indexOf("slick-slide-") >= 0 ) {
            var ID = window.location.hash.replace("#slick-slide-","");
            var index = $(".slick-slide[data-picture-id='" + ID + "']").attr("data-slick-index");
            $('.main-images-preview').slick("slickGoTo", index);
        }

        // left info panel functions
        function compareInfoContentSlickActive(element) {
            if ($(element).attr("data-slick-index") == $(".maincontent").attr("slick-active-index")) {
                $(element).animate({opacity:1},300).show();
            } else {
                $(element).animate({opacity:0},300).hide();
            }
        }
        function compareBtnOpenInfoSlickActive(element) {
            if ($(element).attr("data-slick-index") == $(".slick-current.slick-active").attr("data-slick-index")) {
                $(element).css("right", "0px").css("display", "block");
            } else {
                $(element).css("right", "-42px").css("display", "none");
            }
        }
        // fix portrait picture
        function fixPortraitPicture(element) {
            $(element).map(function(){
                if (($(this).width() - $(this).height()) <= 200) {
                    $(this).addClass("image-portrait");
                }
                $(".slick-slide").css("min-height", $(this).height(), "important").css("max-height", $(this).height(), "important");
            });
        }
        // add image to modal
        function addImageToModal(element) {
            ModalImageInterval = setInterval(function(){
                $("#pictureModalFullscreen .modal-body").html(element.clone());
                if ($("#pictureModalFullscreen .modal-body img").attr("src") != "") {
                    clearInterval(ModalImageInterval);
                }
            }, 250);
        }
        // set id
        function setImageIdToUrl() {
            window.location.hash = "slick-slide-"+$(".slick-current.slick-active").attr("data-picture-id");
        }

        // info inner content, btn onload and portrait picture
        $(".info-object.info-slick").map(function(){
            compareInfoContentSlickActive($(this));
        });
        $(".btn-open-panel .btn-title").map(function(){
            compareBtnOpenInfoSlickActive($(this));
        });
        loadFixes = setInterval(function(){
            fixPortraitPicture($(".slick-slide[data-slick-index='" + $(".maincontent").attr("slick-active-index") + "'] .project-image"));
            if ($(".slick-slide[data-slick-index='" + $(".maincontent").attr("slick-active-index") + "'] .project-image").hasClass("image-portrait")) {
                clearInterval(loadFixes);
            }
        }, 250);
        addImageToModal($(".slick-slide[data-slick-index='" + $(".maincontent").attr("slick-active-index") + "'] .project-image"));
        setImageIdToUrl();
        
        // info inner content, btn afterChange and portrait picture
        $('.main-images-preview').on('afterChange', function(event, slick, currentSlide, direction){
            $(".maincontent").attr("slick-active-index", $(".slick-current.slick-active").attr("data-slick-index"));
            $(".info-object.info-slick").map(function(){
                compareInfoContentSlickActive($(this));
            });
            $(".btn-open-panel .btn-title").map(function(){
                compareBtnOpenInfoSlickActive($(this));
            });
            setImageIdToUrl();
            loadFixesAfterChange = setInterval(function(){
                fixPortraitPicture($(".slick-slide[data-slick-index='" + $(".maincontent").attr("slick-active-index") + "'] .project-image"));
                if ($(".slick-slide[data-slick-index='" + $(".maincontent").attr("slick-active-index") + "'] .project-image").hasClass("image-portrait")) {
                    clearInterval(loadFixesAfterChange);
                }
            }, 250);
            addImageToModal($(".slick-slide[data-slick-index='" + $(".maincontent").attr("slick-active-index") + "'] .project-image"));
        });
        $('.main-images-preview').on('init', function(event, slick, currentSlide, direction){
            $(".maincontent").attr("slick-active-index", $(".slick-current.slick-active").attr("data-slick-index"));
            $(".info-object.info-slick").map(function(){
                compareInfoContentSlickActive($(this));
            });
            $(".btn-open-panel .btn-title").map(function(){
                compareBtnOpenInfoSlickActive($(this));
            });
            setImageIdToUrl();
            loadFixesAfterChange = setInterval(function(){
                fixPortraitPicture($(".slick-slide[data-slick-index='" + $(".maincontent").attr("slick-active-index") + "'] .project-image"));
                if ($(".slick-slide[data-slick-index='" + $(".maincontent").attr("slick-active-index") + "'] .project-image").hasClass("image-portrait")) {
                    clearInterval(loadFixesAfterChange);
                }
            }, 250);
            addImageToModal($(".slick-slide[data-slick-index='" + $(".maincontent").attr("slick-active-index") + "'] .project-image"));
        });

        // auto hide panels
        function hideInfoPanel() {
            infoTimeOut = setTimeout(function(){
                $(".object-detail").removeClass("more-info-opened");
            }, 4000);
        }
        function hideCategoriesPanel() {
            categoriesTimeOut = setTimeout(function(){
                $(".object-detail").removeClass("categories-opened");
            }, 4000);
        }
        // info actions
        hideInfoPanel()
        $(".panel-more-info").mouseout(function(){
            hideInfoPanel();
        });
        $(".panel-more-info").mouseover(function(){
            $(function(){
                clearTimeout(infoTimeOut);
            });
        });
        // categories actions
        hideCategoriesPanel()
        $(".categories").mouseout(function(){
            hideCategoriesPanel();
        });
        $(".categories").mouseover(function(){
            $(function(){
                clearTimeout(categoriesTimeOut);
            });
        });
    });   
});
</script>
<script type="text/javascript">
jQuery(function($) {
    $(function(){
        $('.similar-images-preview')
        .on('init', function(event, slick) {
            $(".slick-slide[data-slick-index='" + $(".maincontent").attr("slick-active-index")).addClass('is-active');
        })
        .slick({
            swipeToSlide: true,
            slidesToShow: 8,
            slidesToScroll: 3,
            dots: false,
            centerMode: true,
            focusOnSelect: false,
            infinite: false,
            lazyLoad: 'ondemand',
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 5,
                    slidesToScroll: 5,
                }
            }, {
                breakpoint: 640,
                settings: {
                    slidesToShow: 4,
                    slidesToScroll: 4,
                }
            }, {
                breakpoint: 420,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
            }
            }]
        });
        /* sync sliders */
        $('.main-images-preview').on('afterChange', function(event, slick, currentSlide) {
            $('.similar-images-preview').slick('slickGoTo', $(".maincontent").attr("slick-active-index"));
            var currrentNavSlideElem = '.similar-images-preview .slick-slide[data-slick-index="' + currentSlide + '"]';
            $('.similar-images-preview .slick-slide.is-active').removeClass('is-active');
            $(currrentNavSlideElem).addClass('is-active');
        });
        $('.similar-images-preview').on('click', '.slick-slide', function(event) {
            event.preventDefault();
            var goToSingleSlide = $(this).data('slick-index');

            $('.main-images-preview').slick('slickGoTo', goToSingleSlide);
        });
    });
});
</script>